.header-content{
    border-radius: 1.5rem;
    padding: 2rem;
    background-color: rgb(200 239 244 / 50%);
}
@media(max-width: 768px) {
    .sm-max-w-64 {
      max-width: 100px;
    }
    .inputSelect{
      max-width: 30vh;
    }
}

@media (min-width:  767px) {
  .sm-max-w-64 {
    max-width: 100%;
  }
  .inputSelect{
    max-width: 100% !important;
  }
  .basic-multi-select{
    max-width: 40vh !important;
  }
}

@media (min-width:  767px) {
  .row-header-top{
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
  
  }
  .row-header-bottom{
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
}
.row-header-top{
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 10px;

}
.row-header-bottom{
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-radius: 5px;
  margin-top: 5px;
}


@media (min-width:  767px) {
  .itemPickup{
    overflow: hidden;
  }
}


@media(max-width: 768px) {
  .itemPickup{
    margin-top: 0px !important;
  }
}
.row-header-center .ant-menu-item {
  flex: 1;
  text-align: center;
}

@media(max-width: 768px) {
  .row-header-center{
    max-width: 100vh ;
    overflow: auto ; 
   }
}
.row-header-center{
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.error-message {
  color: red;
  font-size: 16px;
  padding: 5px;
}
.error-message-file{
  color: red;
  font-size: 16px;
  padding: 5px;
}
.renderImage{
  width: "100%"; height: "100%"; object-fit: 'cover';position: 'absolute'; top: '0';left: '0'
}
.ant-form-item-label[for="Name"] label {
  color: black !important;
  max-width: 100vh;
  width: 50px;
} 
label[for="Name"] {
  width: 50px;
  color: black; /* Add any other styles you need */
}

/* Alternatively, use a more specific selector with the parent class */
.ant-form-item-label[for="Name"] label {
  width: 50px;
  color: black; /* Add any other styles you need */
}

/* If the styles need to be applied to a specific class */
.ant-col.ant-form-item-label[for="Name"] label {
  width: 50px;
  color: black; /* Add any other styles you need */
}

.ant-row.ant-form-item-row label[for="Price"] {
  color: black !important;
  max-width: 100vh;
  width: 50px;
}

/* Styles for the "ProductCode" field */
.ant-row.ant-form-item-row label[for="ProductCode"] {
  color: black !important;
  max-width: 100vh;
  width: 100px;
}

.ant-row.ant-form-item-row label[for="Size"] {
  color: black !important;
  max-width: 100vh;
  width: 50px;
}
.ant-row.ant-form-item-row label[for="image"] {
  color: black !important;
  max-width: 100vh;
  width: 50px;
}